[submodule "vendor/sdl-libretro"]
	path = vendor/sdl-libretro
	url = https://github.com/libretro/sdl-libretro.git
[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
