[submodule "vendor/sdl-libretro"]
	path = vendor/sdl-libretro
	url = https://github.com/libretro/sdl-libretro.git
[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "vendor/chaiscript"]
	path = vendor/chaiscript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/RobLoach/physfs.git
[submodule "vendor/filesystem"]
	path = vendor/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "vendor/ChaiScript_Extras"]
	path = vendor/ChaiScript_Extras
	url = https://github.com/ChaiScript/ChaiScript_Extras.git
[submodule "vendor/SDL_tty"]
	path = vendor/SDL_tty
	url = https://github.com/Grumbel/SDL_tty.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/DanielGibsonSnippets"]
	path = vendor/DanielGibsonSnippets
	url = https://github.com/DanielGibson/Snippets.git
